<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd">
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="HOST_URL" value="mysql:host=localhost;dbname=test_framework;charset=utf8"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASSWORD" value=""/>
    </php>
</phpunit>